[submodule "metaaldetectievondsten"]
	path = metaaldetectievondstmeldingen
	url = https://github.com/OnroerendErfgoed/metaaldetectievondsten.git
[submodule "storageprovider"]
	path = storageprovider
	url = https://github.com/OnroerendErfgoed/storageprovider.git
[submodule "uriregistry"]
	path = uriregistry
	url = https://github.com/OnroerendErfgoed/uriregistry.git
[submodule "documentgenerator"]
	path = documentgenerator
	url = https://github.com/OnroerendErfgoed/documentgenerator.git
