[submodule "metaaldetectievondsten"]
	path = metaaldetectievondstmeldingen
	url = https://github.com/OnroerendErfgoed/metaaldetectievondsten.git
[submodule "storageprovider"]
	path = storageprovider
	url = https://github.com/OnroerendErfgoed/storageprovider.git
